@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Заказы на поставку</h1>
</div>
<div class="text-left" style="margin: 4px 0px 0px 0px;">
    @Html.ActionLink("Создать новый заказ", "CreateOrder", "Order")
</div>
