@model WebTestVersta.Models.Sender
<h4>Новый отправитель</h4>

<div class="edit-block">
    @using (Html.BeginForm("CreateSender", "Sender"))

    {
            <h5>@Html.ValidationSummary()</h5>
        @Html.Hidden("Id", Model.Id.ToString())
            <div class="dataBox">
                <label>Город отправителя</label><br />
            @Html.TextBoxFor(s => s.SenderCity, new { @class = "text-box" })
            </div>
            <div class="dataBox">
                <label>Адрес отправителя</label><br />
            @Html.TextBoxFor(s => s.SenderAddress, new { @class = "text-box" })
            </div>


            <div class="dataBox">
                <input type="submit" value="Сохранить" />
            </div>
    }
</div>
<div>
    <a asp-controller="Sender" asp-action="IndexOrders">Back to List</a>
</div>
